* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  height: 100vh;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #6f39b6;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 36px;
  margin: 30px 0 -65px 30px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul li {
  list-style: none;
}

.nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: #6f39b6;
  margin: 20px;
  cursor: pointer;
}

.nav-links li:hover {
  background-color: #4a29ac;
}

.nav-links a {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 992px) {
  .logo {
    font-size: 30px;
    margin: 30px 0 -55px 30px;
  }
  .nav-links li {
    width: 130px;
    height: 35px;
  }
  .nav-links a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    background: #6f39b6;
    top: 0;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    clip-path: circle(100px at 100% -18%);
    -webkit-clip-path: circle(100px at 100% -18%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(1500px at 100% -18%);
    -webkit-clip-path: circle(1500px at 100% -18%);
  }
  .hamburger {
    cursor: pointer;
    z-index: 3;
    margin: 15px 20px 0 0;
  }
  .toggle {
    background: #fff !important;
  }
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .line {
    width: 40px;
    height: 5px;
    background: #6f39b6;
    margin: 7px;
    border-radius: 25px;
  }
  .nav-links li:hover {
    background-color: #6f39b6;
  }
  .nav-links a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    font-weight: 800;
  }
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.home-watermark {
  position: absolute;
  left: -5%;
  top: 40%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: right, top;
          transform-origin: right, top;
  color: #6f39b6;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 120px;
  opacity: 0.2;
}

.home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-title {
  color: #000;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 36px;
  text-align: center;
}

.home-description {
  color: #000;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 0 0;
}

.home-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .home-title {
    font-size: 30px;
  }
  .home-description {
    font-size: 14px;
  }
  .home-img img {
    width: 80%;
  }
  .home-watermark {
    left: -10%;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 24px;
  }
  .home-title {
    font-size: 20px;
  }
  .home-description {
    font-size: 12px;
  }
  .home-watermark {
    left: -30%;
    top: 45%;
  }
}

.my-work {
  position: relative;
}

.work-watermark {
  position: absolute;
  left: -12%;
  top: 40%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: right, top;
          transform-origin: right, top;
  color: #6f39b6;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 120px;
  opacity: 0.2;
}

.work-title {
  color: #000;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.carousel-cell {
  background: #6f39b6;
  width: 300px;
  height: 400px;
  border-radius: 25px;
  display: block;
  margin: 1.5em;
  padding: 0.7em;
}

.card-title {
  font-family: "Open Sans";
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.card-description {
  font-family: "Open Sans";
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin: 20px 15px 30px 15px;
}

.card-link {
  font-family: "Open Sans";
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin: 0 15px 5px 15px;
  cursor: pointer;
}

.card-link:hover {
  color: #000;
}

@media screen and (max-width: 768px) {
  .work-title {
    font-size: 30px;
  }
  .carousel-cell {
    width: 250px;
    height: 350px;
  }
  .work-watermark {
    width: 600px;
    white-space: nowrap;
    left: -25%;
  }
}

@media screen and (max-width: 576px) {
  .work-title {
    font-size: 20px;
  }
  .carousel-cell {
    width: 220px;
    height: 320px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-description {
    font-size: 12px;
  }
  .card-link {
    font-size: 12px;
  }
  .work-watermark {
    width: 600px;
    white-space: nowrap;
    left: -60%;
  }
}

#contact-title {
  margin-top: 70px !important;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="text"] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #6f39b6;
  background: #fff;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  font-family: "Open Sans";
  z-index: 1;
}

#message-content {
  height: 200px;
}

::-webkit-input-placeholder {
  font-family: "Open Sans";
  color: #000;
}

:-ms-input-placeholder {
  font-family: "Open Sans";
  color: #000;
}

::-ms-input-placeholder {
  font-family: "Open Sans";
  color: #000;
}

::placeholder {
  font-family: "Open Sans";
  color: #000;
}

textarea {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #6f39b6;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  resize: none;
  font-family: "Open Sans";
  z-index: 1;
}

input[type="submit"] {
  width: 150px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  background-color: #6f39b6;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input[type="submit"]:hover {
  background-color: #4a29ac;
}

.contanct-container {
  position: relative;
}

.contact-watermark {
  position: absolute;
  left: -12%;
  top: 35%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: right, top;
          transform-origin: right, top;
  color: #6f39b6;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 120px;
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .contact-watermark {
    width: 600px;
    white-space: nowrap;
    left: -25%;
  }
}

@media screen and (max-width: 576px) {
  .contact-watermark {
    width: 600px;
    white-space: nowrap;
    left: -60%;
    top: 40%;
  }
  input[type="text"] {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
  input[type="submit"] {
    width: 120px;
    font-size: 10px;
  }
}

.footer {
  position: absolute;
  bottom: -70%;
  right: 10%;
}

.footer a img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .footer {
    bottom: -90%;
    right: 10%;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    bottom: -25%;
  }
}
/*# sourceMappingURL=styles.css.map */